---
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="form-control flex flex-row gap-1">
  <label class="label">
    <span class="label-text">{text}</span>
  </label>
  <input type="text" placeholder={text}  class="input input-bordered" />
</div>