<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <span class="footer-title">Product Categories</span>
    <a class="link link-hover">Home Security</a>
    <a class="link link-hover">Home Automation</a>
    <a class="link link-hover">Business Security</a>
    <a class="link link-hover">Video Surveillance</a>
  </div>
  <div>
    <span class="footer-title">About Us</span>
    <a class="link link-hover">About ADT</a>
    <a class="link link-hover">ADT Reviews</a>
    <a class="link link-hover">Newsroom</a>
    <a class="link link-hover">Careers</a>
    <a class="link link-hover">Investor Relations</a>
  </div>
  <div>
    <span class="footer-title">Dealers & Service</span>
    <a class="link link-hover">Dealer Lookup</a>
    <a class="link link-hover">Local Service Areas</a>
  </div>
  <div>
    <span class="footer-title">Contact</span>
    <a class="link link-hover">Support</a>
    <a class="link link-hover">Contact Us</a>
    <a class="link link-hover">1-800-521-1734</a>
  </div>
</footer>
<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div>
    Example Jobs Board
  </div>
</footer>